button{
    padding: 12px;
    color: white;
    background-color: hsl(24, 87%, 43%);
    font-size: large;
}
button:hover{
    color: hsl(24, 87%, 43%);
    background-color: white;
}
.goToTop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: right;
}
.active{
    color: hsl(45, 100%, 99%);
    background-color: rgb(112, 111, 111);
}
.row{
    padding: 20px;
    text-align: left;
}
.tabs{
    padding: 12px;  
}